# Simplified Payment Verification

Here we are introduced to a system of how users can interact with the system for payments without having to run a node in the network. This system, Simplified Payment Verification (SPV), is our introduction for how users can interact with the Ledger without having to be concerned with the steps required to run a node outlined in section 5.
